.itss-input-value-field {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
}

.itss-input-value-field__value {
  font-family: var(--font-family-primary);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: var(--fg-secondary);
}
